/* purgecss start ignore */
.site-layout-width-full{
  .container{
    max-width:100% !important;
    margin:0;
    padding:0;
  }
}
.site-layout-width-full:not(.posts-theme-columns){
  .section{
    margin:0;
    padding:0;
  }
}
code{
  color:#e7155a;
  background: #f8f8f8;
  border:1px solid #eee;
  padding:1px;
  border-radius:5px;
  font-size:.9em;
}
pre {
  background: #eee;
  padding: 20px;
  overflow-x: auto;

  code {
    background: transparent;
    color: initial;
    border: none;
    padding: 0;
  }
}

blockquote{
  border:1px solid #eee;
  border-left: 4px solid $primary;
  padding:10px;
}
dt {
  font-weight: bold;
}

h6 {
  font-family: 'BisonBold', Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 3em !important;
  line-height: 1;
  margin-bottom: 0.3em !important;
}

.grid-theme-boxes {
  margin-top: 25px;
}

.light-blue {
  color: #41b4e7;
}

.container-wrapper {
  background-color: #384e85;
}

.container-wrapper .container-center,
.container-wrapper li,
.container-wrapper p,
.container-wrapper h6 {
  color: #fff !important;
}

body {
  font-family: 'Encode Sans', Arial, Helvetica, sans-serif;
  color: #5c7073 !important;
}

.padding-vertical {
  padding: 6rem 0 !important;
}

.logo-container {
  margin-top: 15px;
}

h6, h3, article .title, .label {
  color: #384e85 !important;
}

.header-container {
  background: repeating-linear-gradient(
    -45deg,
    #395086,
    #395086 24vw,
    #375272 0,
    #375272 48vw
  ) !important;
}

.control button {
  background-color: #41b4e7 !important;
}

.navbar-burger {
  color: #ffffff !important;
  margin-right: -1.5rem !important;
}

.navbar-menu.is-active {
  background-color: #384e85 !important; 
}

.navbar-end li a {
  border-bottom: solid #384e85 2px;
}

.navbar-end li a:hover {
  border-bottom: solid #41b4e7 2px;
}

@media only screen and (max-width: 768px) {
  .navbar-item.has-dropdown {    
    padding: 0.5rem 0.75rem 0 0.75rem !important;
  }
}

.under-subtitle button:hover {
  background-color: #ffffff !important;
  color: #384e85 !important;
}

.companies img {
  margin-right: 25px;
}

.container-center {
  max-width: 960px;
  margin: 0 auto;
  padding: 6rem 0;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .container-center {    
    padding: 6rem 1rem !important;
  }
  .content {
    padding: 0 2rem !important;
  }
}

@font-face {
  font-family: 'BisonBold';
  src: url('../Bison-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Encode Sans';
  src: url('../EncodeSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

/* purgecss end ignore */
